<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pushademoapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D227442E1F87BA98005C98B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D22744421F87BA98005C98B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D227444D1F87BA98005C98B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
